.app-container {
  /* background-image: url('../../../../public/assets/images/landing-image.jpg'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

.animated {
  text-indent: 8px;
  color: #1877f2;
  font-size: 1.6rem;
}

.animated:before {
  content: 'iPhone 15 phone ...';
  animation: topToBottom 5s infinite 0s;
}

@keyframes topToBottom {
  0% {
    content: 'iPhone 15 phone ...';
  }
  25% {
    content: 'Nike AirForce sneaker ...';
  }
  50% {
    content: 'Canon EOS camera ...';
  }
  75% {
    content: 'Sony Bravia TV ...';
  }
  100% {
    content: 'Bose headphones ...';
  }
}

.desc1 {
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 35rem;
  max-width: 90vw;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.desc2 {
  margin: 2rem auto;
  margin-bottom: 2px !important;
  width: 30rem;
  max-width: 90vw;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button {
  font-size: 1.1rem;
  width: max-content;
  margin: 2rem auto;
  padding: 15px 50px;
  background-color: #fff;
  color: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 6px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1877f2;
  color: #fff;
  border: none;
}

.search-button:focus {
  outline: none;
}
