.app-container {
  /* background-image: url('../../../../public/assets/images/landing-image.jpg'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

.animated {
  text-indent: 8px;
  color: #1877f2;
}

.animated:before {
  content: 'iPhone 15 phone ...';
  animation: topToBottom 5s infinite 0s;
}

@keyframes topToBottom {
  0% {
    content: 'iPhone 15 phone ...';
  }
  25% {
    content: 'Nike AirForce sneaker ...';
  }
  50% {
    content: 'Canon EOS camera ...';
  }
  75% {
    content: 'Sony Bravia TV ...';
  }
  100% {
    content: 'Bose headphones ...';
  }
}

.desc1 {
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 35rem;
  max-width: 90vw;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.desc2 {
  margin: 2rem auto;
  width: 30rem;
  max-width: 90vw;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

